<form style="margin-bottom: 60px;">
    <div class="row">
      <div class="col-12">
        <input type="text" class="form-control" placeholder="Nom">
      </div>
      <div class="col-12 mt-4">
        <input type="text" class="form-control" placeholder="Prénom">
      </div>
      <div class="col-12 mt-4">
        <input type="text" class="form-control" placeholder="Adresse">
      </div>
      <div class="col-12 mt-4">
        <input type="text" class="form-control" placeholder="Numéro de carte">
      </div>
      <div class="col-12 mt-4">
        <input type="date" class="form-control" placeholder="Date d'expiration">
      </div>
      <div class="col-12 mt-4">
        <input type="number" min="1" class="form-control" placeholder="Montant">
      </div>
      <div class="col-6 mt-4">
          <a href="label">
            <button class="btn" style="background-color: #FF1493;color: white;">Soutenir</button>
          </a>
      </div>
      <div class="col-6 mt-4">
        <img style="height: auto; width: 60px;" src="../../../assets/img/mclogo.png" alt="">
        <img style="height: auto; width: 60px;" src="../../../assets/img/visalogo.png" alt="">
    </div>
    </div>
  </form >
