#collapsibleNavbar {
  align-items: center;
  justify-content: center;
}

.sticky{
position: fixed;
top: 0;
overflow: hidden;
z-index: 10;
width: 100%;
}

.nav-link:hover {
  color: #ffffff !important;
}

.nav-link:focus {
  color: #ffffff !important;
}

.bg-primary {
  background-color: #FF1493 !important;
}
