<div class="row">
    <div class="col-12">
        <p class="h1-responsive text-center my-4">RocketMusic est un label spécialisé dans la musique pop Coréenne, sur notre site vous pourrez découvrir nos artistes phares, vous pourrez aussi les noter et les soutenir !</p>
    </div>
    <div class="col-12">
        <img style="height: auto;width: 70px;" src="../../../assets/img/iglogo.png" alt="">
        <img style="height: auto;width: 70px;" src="../../../assets/img/fblogo.png" alt="">
        <img style="height: auto;width: 70px;" src="../../../assets/img/ttlogo.png" alt="">
        <img style="height: auto;width: 70px;" src="../../../assets/img/tlogo.png" alt="">

    </div>
</div>
